@model PostViewModel
<div class="post">
    <h2>@Model.Post.Title</h2>
    <h5>Created At: @Model.Post.CreatedAt</h5>
    <h5>Last Modified At: @Model.Post.UpdatedAt</h5>
    <p>@Model.Post.Body</p>
</div>
<div class="post-actions">
    <ul>@if (User.IsInRole("Admin"))
{
        <li><a class="btn btn-primary" asp-area="" asp-controller="Posts" asp-action="EditPost" asp-route-id="@Model.Post.Id">Update</a></li>
        <li><a class="btn btn-danger" asp-controller="Posts" asp-action="DeletePost" asp-route-id="@Model.Post.Id">Delete</a></li>
} </ul>
</div>